
.card-detail-container{

  display : flex;
  justify-content: center;
  align-content: center;
  flex-direction : column;
  max-width :  1200px;

  padding : 1rem;
  margin : auto;
  margin-top:3rem;

}

.card-image{
  border-radius: 8px 0 0 0 ;
}

.card-detail-header{
display:flex;
justify-content: space-between;
align-content: baseline;
}

.card-detail-title{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-content: baseline;
}

.card-detail-main{
  display : flex;
  margin-top:1rem;
  gap : 1rem;
}
.card-image{
 max-width:50%;
  border-radius : 7px;
}
.ad-card-description{
  border : 1px solid rgb(84, 84, 84);
  border-radius : 7px;
  flex : 1;
}


.link-button {
  text-decoration: none;
}
.btn-group{
  text-decoration: none;
  
  display : flex;
  justify-content: space-between;
  padding:1rem 0 ;
  gap:1rem;
}
.btn{
 border: none;
 font-family: var(--vp-font-family-base);
 font-size: medium;
}

.btn-delete{
 background-color: var(--vp-c-brand-darker);

}