.recent-ads {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 16px;

}

#selected {
  margin-top: 10px;
}

.button{

  background-color: #222;
  border : 1px solid var(--vp-c-brand-dark)

}
